.navbar {
  /* padding: 1.5rem 1rem !important ; */
  background-color: transparent !important ;
  padding-left: 300px !important ;
  margin-bottom: 50px ;
  margin-top: 20px;
  
}
 .button{
  margin-top: 0px   !important ;
 }