.App {
  text-align: center;
  justify-content: center;
}

.err{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2%;
  
}

/* div .home{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.nave{
  margin-left:25%;
  margin-bottom: 5%;
} */